.card-boxes {
  display: flex;
  flex-wrap: wrap;
}

.whole-box {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, (2fr 2fr 1fr)); */
  grid-template-columns: 1.3fr 3fr 0.6fr;
  border-radius: 3%;
  background: white;
  grid-auto-flow: column;
  height: 11vh;
  margin-left: 2%;
  margin-top: 3%;
  width: 17rem;
  border: 1px solid rgb(226, 226, 226);
}

.photo  {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-id {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.edit-delete {
  /* border: 1px solid green; */
}

.image-side-card {
  /* height: 17vh;
  width: 4vw; */
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

.username {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  /* identical to box height, or 144% */
  color: #222B45;
}

.usermail {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height, or 133% */
  color: #7C8294;
}
.icons{
  background-color: #ED5252;;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  border-top-right-radius: 14%;
}
.icons2{
  background-color:#222B45;;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  border-bottom-right-radius: 14%;
}






































.box {
  margin: 0;
}

.containe {
  display: flex;
}

.left-side {
  width: 20%;
  height: 100vh;
  background: linear-gradient(348.72deg, #7B0FF5 -48.29%, #3734A9 131.09%);
  display: grid;
  grid-template-rows: 15vh 3fr 15vh;
}













/* code mode */




.box{
  margin: 0;
}

.containe{
  display: flex;
}
.left-side{
  width: 20%;
  height: 100vh;
  background: linear-gradient(348.72deg, #7B0FF5 -48.29%, #3734A9 131.09%);
  display: grid;
  grid-template-rows: 15vh 3fr 15vh;
}
.right-side{
  width: 80%;
  height: 100vh;
}

.upper-box{
  display: flex;
  margin-left: 10%;
  align-items: center;

}
.folow-logo{
  width: 30%;
  /* background-color: aqua; */
}
.logo-name{
  width: 70%;
  /* background-color: antiquewhite; */
}
.image-follow{
  width: 4vw;
  height: 8vh;
  border-radius: 50%;
}
.folow{
  font-family: 'Exo';
font-style: normal;
font-weight: 500;
font-size: 17.4952px;
line-height: 160%;
/* identical to box height, or 28px */


color: rgba(255, 255, 255, 0.5);
}
.backend{
  font-family: 'Exo';
font-style: normal;
font-weight: 500;
font-size: 17.4952px;
line-height: 160%;
/* identical to box height, or 28px */


color: #FFFFFF;
}
.hr{
  opacity: 0.12;
border: 1.11979px solid #FFFFFF;
}
.sidenav-menu{
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.sidenav-middle-box{
  margin-left: 19%;
  margin-top: 10%;
}
.menu-items{
  font-family: 'Exo';
font-style: normal;
font-weight: 400;
font-size: 17.9166px;
line-height: 160%;
margin-top: 8%;
/* identical to box height, or 29px */


color: #FFFFFF;

opacity: 0.5;
}
.logout{
  width: 183.62px;
height: 48.9px;
left: 36.37px;
top: 989.16px;
color: white;
background: #6D26E0;
border: none;
box-shadow: 2.81297px 11.9551px 35.1621px rgba(80, 38, 198, 0.07);
border-radius: 7.03243px;
}
.btn-logout{
  display: flex;
  justify-content: center;
}
.right-side{
  display: flex;
  flex-direction: column;
  background: #fff9f9;
}
.upper-right{
  display: grid;
  grid-template-columns: 15% 30% 15% 15% 10% 15%;
  align-items: center;
  height: 10%;
  justify-items: center;
}
.lower-right{
  height: 80%;
}
.welcome-title{
  font-family: 'Exo';
font-style: normal;
font-weight: 500;
font-size: 15.5398px;
line-height: 100%;
/* identical to box height, or 16px */

display: flex;
align-items: center;
text-transform: uppercase;

color: #25262E;
}
.hello-title{
  font-family: 'Exo';
font-style: normal;
font-weight: 400;
font-size: 12.9635px;
line-height: 100%;
/* identical to box height, or 13px */

display: flex;
align-items: center;
letter-spacing: 0.08em;
text-transform: uppercase;

color: #25262E;

opacity: 0.5;
}
.search-input {
  width: 16vw;
  height: 4.5vh;
  /* left: 501.05px; */
  /* top: 28.87px; */
  background: #FFFFFF;
  border-radius: 3.16515px;
  border: none;
}

.search-button {
  background: #222B45;
  border-radius: 3.16515px 0px 0px 3.16515px;

  height: 4.5vh;
  color: white;
}
.lower-right{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-box{
  /* border: 1px solid black; */
  width: 100%;
  height: 91%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 4px 17px 50px rgba(80, 38, 198, 0.06);
  border-radius: 10px;
  }
.image-person{
  border-radius: 50%;
  height: 17vh;
  width: 9vw;
}
.details-box{
  display: flex;
  grid-gap: 4%;
  margin-left: 25%;
}
.left-box .right-box{
  display: flex;
  flex-direction: column;
}
.title-name{
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #222B45;
}
.email-name{
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #7C8294;
}
.heading{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 27px;
  color: #222B45;
  opacity: 0.5;
}
.btn-save{
  background: #2CBF67;
  color: white;
border-radius: 6px;
width: 13vw;
height: 5vh;
border: none;
}
.btn-cancel{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  background-color: white;
  font-size: 14px;
  color: #222B45;
  opacity: 0.5;
  border: none;
}
.btn-admins , .btn-notification , .btn-john{
  border: none;
  width: 8vw;
  height: 4.5vh;
  background: white;
  border-radius: 3px;
  border: none;
}
.image-side-id{
  height: 3vh;
  width: 2vw;
  border-radius: 50%;
}
.image-side-card{
  height: 8vh;
  width: 4vw;
  border-radius: 50%;
}
.left-card{
  display: flex;

}
.card-box{
  display: flex;
  flex-wrap: wrap;
  margin-left: 0%;
}
.card{
  display: flex;
  justify-content: center;
  margin-left: 4%;
  width: fit-content;
  margin-top: 3%;
  height: 11vh;

}
.inner-text{
  margin: auto;
}
.name{
  font-family: 'SF Pro Display';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 26px;
/* identical to box height, or 144% */


color: #222B45;
}
.mail{

font-family: 'SF Pro Display';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 133% */


color: #7C8294;
}
.right-card{
  /* display: flex;
  flex-direction: row; */
}
.save, .cancel{
  margin-top: 1%;
}

.btn-new-role{
  padding: 9px;
    margin-left: 2%;
  background: #2CBF67;
  border-radius: 3px;
  border: none;
}
.add-new-role{
  display:flex;
  justify-content: end;
  margin-right: 1%;
}
