.app-users-whole-wrapper {
  height: 85vh;
}
.app-users-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.app-user-list-wrapper {
  width: 40%;
}
.app-user-list-header-container {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 1em;
}

.app-user-list-header-container > div {
  background-color: aqua;
  padding: 0 0.5em;
}
.app-user-list-header-container > div:nth-child(2) {
  margin: auto;
  background: white;
  width: 100%;
  text-align: center;
}

.app-user-list-item-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}

.app-user-list-item-profile-container {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.app-user-list-item-verification {
  margin-left: auto;
}

.app-user-list-item-profile-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  overflow: hidden;
}

.app-user-list-body {
  overflow-y: auto;
  height: 80vh;
}

.app-users-tabs {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  background: #ffffff;
  box-shadow: 0px 0px 21.4762px rgb(23 23 23 / 6%);
  border-radius: 6.01334px 6.01334px 0px 0px;
}

.tab {
  opacity: 0.5;
  cursor: pointer;
}
.tab.active {
  opacity: 1;
}

.vl {
  width: 0.859048px;
  background: black;
  opacity: 0.15;
  height: 20px;
  margin: 0 0.5em;
}
.app-user-profile-wrapper{
  background-color: antiquewhite;
  width: 60%;
}
