<div class="app-users-wrapper">
  <div class="app-user-list-wrapper">
    <div class="app-user-list-container">
      <div class="app-user-list-header">
        <div class="app-user-list-header-container">
          <div>#</div>
          <div>User Details</div>
          <div>Verified</div>
        </div>
      </div>
      <div class="app-user-list-body">
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
        <div class="app-user-list-item-container">
          <div class="app-user-list-item-sr-no">
            <p>01</p>
          </div>
          <div class="app-user-list-item-profile-container">
            <div class="app-user-list-item-profile-image">
              <img src="../../assets/icon-photo.png" alt="" />
            </div>
            <div class="app-user-list-item-profile-name-id">
              <h5>Dean Wincher</h5>
              <p>iserid 12345</p>
            </div>
          </div>
          <div class="app-user-list-item-verification">
            <div class="app-user-list-item-verification-image">
              <img src="../../assets/checkmark-circle.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-user-profile-wrapper"></div>
</div>
