<div class="app-users-whole-wrapper position-relative">
  <ng-container *ngIf="listViewActive">
    <div class="app-users-wrapper">
      <div class="app-user-list-wrapper">
        <div class="app-user-list-container">
          <div class="app-user-list-header">
            <div class="app-user-list-header-container">
              <div>#</div>
              <div>User Details</div>
              <div>Verified</div>
            </div>
          </div>
          <div class="app-user-list-body">
            <div class="app-user-list-item-container" *ngFor="let user of allUserList; index as i">
              <div class="app-user-list-item-sr-no">
                <p>{{i+1}}</p>
              </div>
              <div class="app-user-list-item-profile-container">
                <div class="app-user-list-item-profile-image">
                  <img src={{user.avatar}} alt="" />
                </div>
                <div class="app-user-list-item-profile-name-id">
                  <h5>{{user.username}}</h5>
                  <p>{{user.userid}}</p>
                </div>
              </div>
              <div class="app-user-list-item-verification">
                <div class="app-user-list-item-verification-image">
                  <img src="../../assets/checkmark-circle.png" alt="" />
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="app-user-profile-wrapper">hi</div>
    </div>

  </ng-container>

  <ng-container *ngIf="gridViewActive">
    <p>Grid View coming Soon ....</p>
  </ng-container>

  <div class="app-users-tabs">
    <div class="{{ listViewActive ? 'tab active' : 'tab' }}" (click)="listViewTab()">
      List View
    </div>
    <div class="vl"></div>
    <div class="{{ gridViewActive ? 'tab active' : 'tab' }}" (click)="gridViewTab()">
      Grid View
    </div>
  </div>
</div>
