<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ShopName</th>
      <th scope="col">Owner</th>
      <th scope="col">Location</th>
      <th scope="col">Created</th>
      <th scope="col">Total Products</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td class="shop-name-image">
        <div class="shop-image-wrapper"><img class="shop-image-container" src="../../assets/nature.jpg" alt=""></div>
        <div>Nike</div>
      </td>
      <td>Dean Winchester</td>
      <td>Manchester, UK</td>
      <td>Dec 12, 2020</td>
      <td>124</td>
    </tr>

  </tbody>
</table>
