.filter-wrapper{
  display: flex;
  width: 100%;
  background-color: antiquewhite;
}

.post-wrapper{
  display: flex;
  flex-wrap: wrap;
}
.posts{
  height: fit-content;
  border-radius: 7px;
  width: 18vw;

    margin-top: 3%;
    margin-left: 5%;
    display: grid;
    grid-gap: 2%;
    background-color: rgb(255, 255, 255);

    grid-template-rows: 1fr auto auto 1fr;


}
.image-profile{
  height:50px;
  width: 50px;
}
.image{
  width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.post-header{
    display: grid;
    grid-gap: 5%;
    align-items: center;
    margin-left: 4%;
    margin-top: 4%;
    /* justify-content: center; */
    grid-template-columns: 2fr 3fr 4fr;
}
.post-image{
  width: 258px;
  height: 234px;
  margin-left: 4%;
}
.p-image{
  height: 100%;
    width: 100%;
}
.count-wrapper{
  display: flex;
    /* align-items: center; */
    justify-content: space-around;
}
.description-post-wrapper{
  margin-left: 4%;
}
.icon-image-wrapper{
  width: 25px;
  height: 25px;
}
.image-icon{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}


















































































































































/* :root {
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

* {
  box-sizing: border-box;
  font-family: "Exo";
  margin: 0;
  padding: 0;
}

body {
  margin: 2rem;
  color: var(--clr-gray);
}

.wrapper-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.banner-img {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  clip-path: circle(50px at center);
  margin-top: 5.5rem;
  height: 9rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
} */
