.roles-wrapper-container {
  background-color: white;
  position: absolute;
  top: 14%;
  left: 5%;
  width: 90%;
  height: 80%;
  border-radius: 5px;
}
.roles-left-side {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  width: 50%;
}
.role-name {
  display: grid;
  grid-template-columns: 0.5fr 13%;
}
.add-roles {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.roles-inner {
  display: grid;
  grid-row-gap: 7%;
  margin-left: 10%;
  margin-top: 2%;

}
.roles-heading {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 16.8808px;
  color: #222b45;
  opacity: 0.99;
}
.search-input {
  width: 16vw;
  height: 4.5vh;
  /* left: 501.05px; */
  /* top: 28.87px; */
  background: #ffffff;
  border-radius: 3.16515px;
  border: none;
}
.name {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 16.8808px;
  color: #222b45;
  opacity: 0.99;
}
.button {
  display: flex;
}
.icons {
  background-color: #ed5252;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-top-left-radius: 14%;
}
.icons2 {
  background-color: #222b45;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-bottom-right-radius: 14%;
}
.breacrumb {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 16.8808px;
  line-height: 100%;
  /* identical to box height, or 17px */

  display: flex;
  align-items: center;

  color: #252e47;

  opacity: 0.99;
}
.roleName {
  font-family: "Exo";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #222b45;
  opacity: 0.5;
}

.select-roles-with-options-container {
  border: 2px solid;
  width: fit-content;
  padding: 5px 20px;
  overflow: hidden;
  height: 38px;
  transition: all 1s ease;
}

.select-roles-with-options-container.active {
  height: 100px;
  overflow: auto;
}
.btn-new-role{
  padding: 9px;
    margin-left: 2%;
  background: #2CBF67;
  border-radius: 3px;
  border: none;
}

.details-box{
  display: flex;
  grid-gap: 4%;
}
.left-box .right-box{
  display: flex;
  flex-direction: column;
}
.drop{
  display: flex;
  flex-wrap: wrap;
  margin-top: 6%;
}
.btn-save{
  background: #2CBF67;
  color: white;
border-radius: 6px;
width: 13vw;
height: 5vh;
border: none;
}
.btn-cancel{
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  background-color: white;
  font-size: 14px;
  color: #222B45;
  opacity: 0.5;
  border: none;
}
.dropdown-checkbox{
  display: flex;
  margin-left: 2%;
  margin-top: 2%;
  /* border: 1px solid black; */
}
.checkbox{
  display: flex;
    align-items: center;
}
.add-role-buttons{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 4%;
}
.btn-admins{
  width: fit-content;
  height: 4.5vh;
  background: white;
  border-radius: 3px;
  border: none;
}
.rolee{
  display: flex;
  justify-content: end;
  justify-content: end;
  margin-top: 3%;
  margin-right: 3%;
}
.labels{

  margin-left: 0.4vw;

}
.model-marging{
  margin-top: 10%;
}








.save, .cancel{
  margin-top: 1%;
}

.btn-new-role{
  margin-left: 2%;
  width: fit-content;
  background: #2CBF67;
  border-radius: 3px;
  border: none;
}
